/*--------------------------------------------------------------
/* FONTS IN ALPHABETIC ORDER 
--------------------------------------------------------------*/

/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Cardo:ital,wght@0,400;0,700;1,400&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Libertinus+Mono&family=Oxanium:wght@200..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'ArtNouveauCaps';
  src: url('../fonts/Art Nouveau Caps.ttf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'DeStijl';
  src: url('../fonts/DeStijl-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GoudyDropcap';
  src: url('../fonts/GoudyInitialen.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family:"Pixelated MS Sans Serif";
  src: url("../fonts/MS Sans Serif.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: 'Pixelify';
  src: url('../fonts/Pixelify_Sans/static/PixelifySans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'University';
  src: url('../fonts/University.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/*--------------------------------------------------------------
# global
--------------------------------------------------------------*/

:root {
  --black: rgb(13, 0, 0);
  --lightblack: rgb(88, 86, 86);
  --white: #ECE2D0;
  --red: #DC4F34;
  --lightred: #e07a66;
  --yellow: oklch(84.173% 0.15235 99.065);
  --lightyellow: #efde81;
  --blue: #569DC9;
  --lightblue: #8ec0df;
  --primary: #F93A2A;
  --brightblue: #00A9E0;
  --brightyellow: #FEEF1D;
  --brightwhite: #F8F4F3;
}
body {
  background-image: url("../resources/img/beall/beall_bg2.png");
  background-attachment: fixed;
  background-size: cover; /* PC用 */
  background-position: center center;
  background-repeat: no-repeat;
  background-color: var(--blue);
}

@media (max-width: 768px) {
  html, body {
    height: 100vh;                         /* set height to vh */
    margin: 0;                             
    padding: 0;
  }

  body {
    background-size: auto 100vh;           
    background-position: 80% center;       /* a little towards the right*/
    background-attachment: fixed;          /* fix position, but doesnt work in iphone */
    background-repeat: no-repeat;  
    background-color: var(--blue);        
    
  }
}
h1,h2,h3 {
  font-family: 'University', sans-serif;
  display: inline-block;
  transform: scaleX(0.8);         /* thin */
  transform-origin: left;
  letter-spacing: 0.05em;          /* spacing */
}

h4,h5,h6,p, a,.btn{
 font-family: 'Roboto Condensed', sans-serif; 
 letter-spacing: 0.02rem;
}

a {
 font-family: 'Roboto Condensed', sans-serif; 
 letter-spacing: 0.02rem;
 text-decoration: none;
  color: var(--blue);
}

a:hover {
  color: var(--primary);
}

.btn, .btn-primary {
  background-color: var(--blue) !important;  /*added !important because sometimes the bootstrap default color shows up */
  border-color: var(--primary-color-dark) !important;
  border: none !important;

}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: var(--red) !important;  /*added !important because sometimes the bootstrap default color shows up */
  border:none !important;

}

/*--------------------------------------------------------------
# navbar
--------------------------------------------------------------*/
/* According to dark theme */
.navbar {
  background-color: rgba(18, 18, 18, 0.345);
  color: var(--white);
  position: fixed;
  height: 3rem;
}

@media (max-width: 578px) {
  .navbar {
    background-color: rgba(18, 18, 18, 0.345);
    color: var(--black);
    z-index: 12;
  }

  .nav-link {
    font-size: 0.8rem;
    margin-left: 0.5rem;
  }
  
#main-nav{
  background-color:rgba(18, 18, 18, 0.345);
  padding: 0.5rem;
}
}

#navbartext {
  margin-left: 20px; 
  font-family: 'Libertinus Mono', monospace; 
  font-size: clamp(0.75rem, 1vw, 1rem);
}

.nav-link {
  color: var(--white) !important;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-link:hover {
  color: var(--primary) !important;
}

.active {
  color: var(--primary-color-dark) !important;
}

.navbar img {
  width: 2rem;
  height: 2rem;
  margin-right: 10px;
}

#chooseLayout {
  background-color: ar(--black);
  color: var(--white);
}

/*--------------------------------------------------------------
# off canvas
--------------------------------------------------------------*/
/* According to dark theme */
.offcanvas {
  background-color: rgba(0, 0, 0, 0.9);
  color: var(--white);
  z-index: 1055;
}

@media (max-width: 768px) {
.offcanvas {
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--white);
}
}
#layout-buttons .btn {
  margin-bottom: 1.618rem;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
}

/* Choose layout has same id as the button but align styling with headers in offcanvas */
#offcanvasExample .offcanvas-title{
  margin-top: 1em !important;
  font-size: 20px !important;
    
  background: none;
  padding: none;
  margin: none;
  box-shadow: none;
  text-decoration: none;
  outline: none;
  outline-offset: none;
  border-radius: 0;
}


#layout-buttons .btn {
  margin-bottom: 1.618rem;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
}

#default-title {
  color: rgb(118, 118, 118);
  margin-top: 1.618rem;
}

#default-button {
  background-color: rgb(118, 118, 118) !important;
  font-family: 'Cormorant Garamond';
}

#aldine-button {
  background-color: #e4dec6 !important;
  border-color: #574d38 !important;
  color: #574d38 !important;
  font-family: "Cardo", 'serif' !important;
  font-style: italic;
  width: 150px;
  box-shadow: none;
  border-style: double;
 }

 #aldine-button:hover {
  background-color: #574d38 !important;
  color: #e4dec6 !important;
 }

 #artnouveau-button {
  background-color: #74918A !important;
  border-color: #A8B162 !important;
  color: #FBFDF7 !important;
  font-family: 'ArtNouveauCaps', 'serif' !important;
  font-style: italic;
 }

#artnouveau-button:hover {
  background-color: #574B60 !important;
  color: #FBFDF7 !important;
}

#stijl-button {
  font-family: "Destijl", "sans-serif" !important;
  border-radius: 0 !important;
  color: black !important;
  box-shadow: inset -0.5em -0.5em #FDDE06;;
  background-color: white !important ;
  border: 2px solid black !important;
}

#stijl-button:hover {
  color: white!important;;
  box-shadow: inset -0.5em -0.5em#0300AD ;
  background-color: black ! important;

}

#beall-button {
  background: linear-gradient(135deg,#569DC9 50%, #DC4F34 50%);
  font-family: 'University', sans-serif !important;
  color: white;
}

#beall-button:hover {
  background: linear-gradient(135deg,#265471 50%, #9d2108 50%);
  font-family: 'University', sans-serif !important;
  color: white;
}

#windows-button {
  width: 100%;
  background: grey !important;
  text-align: left;
  font-family: "Pixelated MS Sans Serif", Arial;
  font-size: 12px;
  border: none;
  border-radius: 0;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  box-sizing: border-box;
  min-height: 23px;
  width: auto;
  padding: 1 12px !important;
  text-shadow: 0 0 #222;
  color: black;
}

#cyberpunk-button {
  background-color: hsl(154 50% 5%) !important;
  border-color: hsl(154, 52%, 56%) !important;
  color: hsl(154, 52%, 56%) !important;
  text-shadow: 0 0 6px hsl(154, 52%, 56%);
  font-family: 'Pixelify', sans-serif;
  box-shadow: hsl(154, 52%, 56%) !important;
}

#cyberpunk-button:hover {
  color: white !important;
}

/*--------------------------------------------------------------
# index page
--------------------------------------------------------------*/
/* Smaller screens lose the margins to fit the whole screen */
@media (max-width: 768px) {
  .text-box {
    padding: 1rem;
  }
}

/* Animations blocks sliding in from left-side into screen */
/*  Slide for mobile is from down up */
.hidden {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 2s;
}

.show {
  opacity: 1;
  transform: translateX(0);
}

/* works better for smaller screens, when scrolling down the blocks move up slowly */
@media (max-width: 768px) {
  .hidden {
    opacity: 0;
    transform: translateY(40px);
    transition: all 1.5s ease;
  }
  
  .show {
    opacity: 1;
    transform: translateY(0);
  }
}
#hero{
  margin-top: 0;
}

.hero-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
    transition: opacity 0.5s ease;
}

.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}


#carouselHeaderImages.carousel,
.carousel-inner,
.carousel-item {
  height: 100%;
}

.carousel-item img {
  object-fit: cover;
  object-position: center 30%;
  height: 100%;
  width: 100%;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;}

/* diagonal banner */
.hero-overlay::before {
  content: "";
  font-family: "University", sans-serif;
  position: absolute;
  top: -30%;
  left: -40%;
  width: 150%;
  height: 50%;
  padding: 1rem 0;
  background-color: rgba(220, 79, 52, 0.9); 
  color: white;
  font-size: 3rem;
  font-weight: bold;
  transform: rotate(-12deg);
  z-index: 10;
  white-space: nowrap;
  display: flex;
  align-items: flex-end;   /* ← align text to bottom */
  justify-content: flex-end;   /* ← to the left */
  padding-right: 50%;    /*  adjust */
  padding-bottom: 20px;
  letter-spacing: 0.05em;         

}
.hero-text {
  font-family: "University", sans-serif;
  position: absolute;
  top: 10%;
  left: -50%;
  width: 150%;
  transform: rotate(-12deg);
  font-size: clamp(4rem, 2vw, 2rem);
  color: black;
  z-index: 20; /* above banner */
  text-align: center;
  pointer-events: none;
  white-space: nowrap;
  letter-spacing: 0.05em;     
}

.hero-text span {
  color: white;
}

.hero-overlay::after {
  content: "";
  position: absolute;
  bottom: -25%;
  left: -30%;
  width: 160%;
  height: 30%;
  background-color:rgba(228, 204, 67, 0.9);
  transform: rotate(12deg);
  z-index: 10;
  pointer-events: none;
}

.hero-subtitle {
  position: absolute;
  font-family: "University", sans-serif;
  bottom: 9%;
  left: -55%;
  width: 150%;
  transform: rotate(12deg);
  font-size: 1.4rem;
  color: white;
  text-align: center;
  z-index: 20; /* 帯より上 */
  pointer-events: none;
  white-space: nowrap;
  letter-spacing: 0.05em;     

}

@media (max-width: 768px) {
  .hidden {
    opacity: 0;
    transform: translateY(40px);
    transition: all 1.5s ease;
  }
  
  .show {
    opacity: 1;
    transform: translateY(0);
  }

  .hero-text {
  font-family: "University", sans-serif;
  position: absolute;
  top: 12%;
  left: -50%;
  width: 150%;
  transform: rotate(-12deg);
  font-size: 2rem;
  color: black;
  z-index: 20; /* 帯より上に表示 */
  text-align: center;
  pointer-events: none;
  white-space: nowrap;
  letter-spacing: 0.05em;     
}

.hero-subtitle {
  position: absolute;
  font-family: "University", sans-serif;
  bottom: 4%;
  left: -35%;
  width: 150%;
  transform: rotate(12deg);
  font-size: 1.4rem;
  color: white;
  text-align: center;
  z-index: 20; /* 帯より上 */
  pointer-events: none;
  white-space: nowrap;
  letter-spacing: 0.05em;     

}
  .hero-overlay::before {
    left: -30%;
    padding-right: 40%;
  }
  
  .hero-overlay::after {
    left: -35%;
  }
  
  .hero-text {
    left: -30%;
  }

}

/* Abstract section */
/* --------------------------------------------------------------*/
#abstract {
  margin-top: 1.8rem ;
  margin-bottom: 1.8rem ;
  padding-top: 1.5rem;
  background-color: rgba(255, 255, 255, 0.6);
}

#abstract h1 {
  font-family: 'University', sans-serif;
  font-size: clamp(4rem, 3.5vw, 3rem);
  letter-spacing: 0.2rem;
  text-align: center;
}
.dropcap {
  float: left;
  font-size: clamp(18rem, 6vw, 8.5rem);
  line-height: 0.70;
  margin: 0.1em 0.1em 0em 0;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  padding-right: 0.15rem;

}


/* Themes-info and Narratives-info sections */
/* they inherit most properties from the text-box class but need specific properties as well  */
/* --------------------------------------------------------------*/
#themes-info,
#narratives-info {
    margin-top: 1.618rem;
}

#theme-text-box {
    background-color: var(--white) !important;
}

#narratives-text-box {
  background-color: var(--white) !important;
}

.infoboxes-title {
  font-family: 'University';
  font-size: clamp(4vw, 4vw, 5vw) !important;
  
}

.infoboxes-text {
  font-size: clamp(1rem, 0.75rem, 1.2rem);
  line-height: 1.6;
  margin-top: 1rem;
  color: var(--black) !important;
}

.infoboxes-text a {
color: var(--white);
}

/* Image tiles in the themes-info and narratives-info section */
.img-card {
    border-radius: 0; 
    border: none;
    max-width: 83.3%;
    max-height: 500px;
    min-height: 500px;
}

#carouselThemeImages .card-img,
#carouselNarrativeImages .card-img,
#collections-info .card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0;
    min-height: 500px;
    max-height: 500px;
}

#carouselThemeImages .card-img-overlay,
#carouselNarrativeImages .card-img-overlay {
    background: #121212a9;
    border-radius: 0;
}

#carouselThemeImages .card-title-carousel,
#carouselNarrativeImages .card-title-carousel {
    font-size: clamp(2.8rem, 2.5vw, 3rem);
    color: var(--white);
    font-family: 'University', sans-serif;
}

#carouselThemeImages .card-text-carousel,
#carouselNarrativeImages .card-text-carousel {
    color: var(--white);
}
#carouselThemeImages .card-text-carousel a,
#carouselNarrativeImages .card-text-carousel a {
    font-size: 1.5rem;
    font-weight: 500;
    position: absolute;
    top: 75%;
}

/* About info section */
/* --------------------------------------------------------------*/

#about-info {
    margin-top: 1.618rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: rgba(255, 255, 255, 0.6);

}

#about-info .has-dropcap .dropcap  {
  font-family: 'University', sans-serif;
  position: relative;
  font-size: clamp(8rem, 6vw, 8.5rem);
  z-index: 0;
}


#about-info p{
  font-size: 1.2rem;
  text-align: justify;
}


/* Footer */
/* --------------------------------------------------------------*/

footer {
  background-color: var(--black);
  color: white;
  padding: 30px 0;
  font-size: 0.9rem;
  margin-top: 5rem;
}

/*--------------------------------------------------------------
# exhibition page
--------------------------------------------------------------*/


#intro {
  width: 100%;
  margin-top: 3rem !important;
  padding: 0 !important;
}

#intro .container {
  max-width: 100%; 
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#intro .text-center {
  padding: 0;
  background-color: #ffe000;
  margin: 0!important;
}

.floating-answers-container {
    position: relative;
    min-height: 600px;
    background-color: var(--text-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    text-align: center;      
    padding: 80px 50px;  
}

#answer-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* bring it to the back */
  pointer-events: none;
  background-image: url("../resources/img/beall/beall_bg.png");
  background-position: 0%;
  background-size: cover;
}

.floating-answer {
    position: absolute;
    color: #816e67;
    padding: 5px 10px;
    border-radius: 8px;
    max-width: 200px;
    pointer-events: none;
    animation: float 8s ease-in-out infinite;
    z-index: 10;
    font-family: "University";
}

.main-heading .fw-bold{
  position: relative;
  z-index: 2;
  background-color: var(--red);
  letter-spacing: 0.2rem;
  color: white;
  text-align: center; 
  padding-left: 2rem;
  padding-right: 2rem;
  transform: rotate(-3.2deg);
  font-weight: lighter !important;
}

.description,
.action-area {
  position: relative;
  z-index: 2; 
}

@keyframes float {
0% { transform: translateY(0px); }
50% { transform: translateY(-20px); }
100% { transform: translateY(0); }
}

@media (max-width: 768px) {
  .floating-answers-container {
    padding: 40px 20px; /* Adjust padding for smaller screens */
  }
  
  .floating-answer {
    max-width: 150px; /* Reduce max width for smaller screens */
    font-size: 0.8rem; /* Adjust font size for smaller screens */
  }
  
  .main-heading .fw-bold {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #floating p,
  .action-area {
    font-size: 0.9rem; /* Adjust font size for smaller screens */
  } 
  
}


/* narrative */

#choose-narrative {
  margin-top: 2.5rem !important;
  margin-left: 2.5rem !important;
  margin-right: 2.5rem !important;
  padding: 2.5% !important;
  background-color: var(--white);
}

#choose-narrative h1{
  background-color: var(--black);
  margin-top: 0.5rem;  
  color: white;
  padding: 0.5rem;
  font-weight: lighter !important;

}

/* card link styles */
.card-group .card{
  border-radius: 0;
  padding: 1rem;
  transition: transform 0.3s ease;
}

.link-card:hover,
.link-card:focus,
.link-card:active {
    transform: translate(-5px, -5px);
}

/*  interactive map styles */
/* change color with hover */
.room:hover { fill: var(--red); }

  /* pop up style */
.popup {
    position: absolute;
    display: none;
    width: 50% ;            /* this is controlled with JS */
    max-width: 300px;
    padding: 1em 1.5em;
    background: #fff;
    box-shadow: 2px 2px 8px rgba(0,0,0,.15);
    font-size: 14px;
    z-index: 10;
}

  /* Discover the rooms */

#rooms {
  margin-top: 2.5rem !important;
  margin-left: 2.5rem !important;
  margin-right: 2.5rem !important;
  padding: 2.5% !important;
  padding-bottom: 5% !important;
  background-color: var(--yellow);
}

#rooms h1{
  background-color: var(--black);
  color: white;
  padding: 0.5rem;
  margin-top: 0.5rem;     
  font-weight: lighter !important;

}

/* browse the collections */

#collections {
  margin-top: 2.5rem !important;
  margin-left: 2.5rem !important;
  margin-right: 2.5rem !important;
  padding: 2.5% !important;
  background-color: var(--white);
}

#collections h1{
  background-color: var(--black);
  color: white;
  padding: 0.5rem;
  margin-top: 0.5rem !important;  
  font-weight: lighter !important;

}

#collections .container{
  margin-top: 0 !important;
  margin-bottom: 1rem !important;
}

#collections .btn-outline-secondary {
  color: var(--white);
  font-weight: 500;
  font-size: 1.2rem;
}
#collections .btn-outline-secondary:hover {
  background-color: var(--red) !important;
  font-weight: 500;
  font-size: 1.2rem;
}



@media (max-width: 768px) {
  #choose-narrative, #rooms, #collections #gallery {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }

}

/*--------------------------------------------------------------
# gallery
--------------------------------------------------------------*/


#gallery {
  background-color: rgba(255, 255, 255, 0.8);
}

#gallery h1{
  font-weight: 600;
  font-size: clamp(2rem, 3vw, 4rem);
  letter-spacing: 0.2rem;
  align-items: center;
}

#gallery #themes #Around-the-Kitchen-Table{
  font-weight: 600;
  background-color: var(--yellow);
  color: white;
}

#gallery #themes #Taking-Flight{
  font-weight: 600;
  background-color: var(--red);
  color: white;
}

#gallery #themes #Nature-Interferes{
  font-weight: 600;
  background-color: var(--blue);
  color: white;
}

#gallery #themes #Travelling-Through-Time{
  font-weight: 600;
  background-color: var(--lightblack  );
  color: white;
}


#gallery .gallery-card {
  padding: 1rem 1rem 2.5rem 1rem; /* add */
  border-radius: none;
  margin: 0 !important;
}

#gallery .card {
  padding: 1rem !important;
  border: none !important; 
}


#gallery .accordion-button {
  border: none !important;
}

#gallery .accordion-button:focus {
  box-shadow: none;
  outline: none;
  border: none;
}


#gallery .gallery-card:has(.taking-flight) {
  background: linear-gradient(135deg, var(--red) 50%, var(--lightred) 50%);
}

#gallery .gallery-card:has(.nature-interferes) {
  background: linear-gradient(135deg, var(--blue) 50%, var(--lightblue) 50%);
}

#gallery .gallery-card:has(.around-the-kitchen-table) {
  background: linear-gradient(135deg, var(--yellow) 50%, var(--lightyellow) 50%);
}

#gallery .gallery-card:has(.travelling-through-time)  {
  background: linear-gradient(135deg, var(--black) 50%, var(--lightblack) 50%);
}


/*--------------------------------------------------------------
# artViewer
--------------------------------------------------------------*/

#artCarousel .carousel-inner {
  margin: 1rem;
  
}

#artCarousel .card {
  margin: 1rem;
  background-color: rgba(255, 255, 255, 0.8) !important; /* R,G,B,Alpha(0〜1) */
  border: none; 
  border-radius: 0 !important;
}



#artCarousel .card-title {
  font-size: clamp(2rem, 1.5vw, 2rem);
  color: var(--black);
  font-weight: light;
  font-family: 'University', sans-serif;
} 

#artCarousel .text-muted {
  font-size: clamp(1.1rem, 1vw, 1rem);
  margin-top: 1rem;
  font-weight: 500;
  font-family: "Roboto Condensed", sans-serif;
} 


#artCarousel .accordion-button {
  color: var(--black);
  border: none;
  border-radius: 0;
  box-shadow: none; /* removes default focus shadow */
  outline: none; /* removes focus outline */
  font-weight: bold; 
  font-size: 18px;
  text-transform: capitalize;
  margin: 0;
  
}

#artCarousel .accordion-button:focus {
  box-shadow: none;
  outline: none;
  border: none;
}

#artCarousel .accordion-body td {
  padding: 0.5rem 1rem; /* Padding inside cells */
  vertical-align: top;
  color: var(--black);
  text-transform: capitalize;
  font-family: Roboto Condensed, sans-serif;
}

#artCarousel h2,h3,p {
  font-family: 'Roboto Condensed', sans-serif;
}

/*--------------------------------------------------------------
#  disclaimer, documentation, creators
--------------------------------------------------------------*/

#documentation, #disclaimer, #creators {
  background-color: rgba(255, 255, 255, 0.75);
  margin-left: 3rem!important;
  margin-right: 3rem!important;
  padding: 1.5rem!important;
  font-family: "Roboto Condensed", sans-serif;
}

#documentation h1,
#disclaimer h1,
#creators h1 {
  font-size: clamp(2rem, 3vw, 4rem);
  color: var(--black);
  padding: auto;
}

#documentation h2,
#disclaimer h2,
#creators h2 {
  font-family: 'University', sans-serif;
  font-size: clamp(1.5rem, 2vw, 3rem);
  color: var(--black);
  margin-bottom: 1rem;
}

#documentation h3,
#disclaimer h3,
#creators h3 {
  font-family: 'University', sans-serif;
  font-size: clamp(1rem, 1.5vw, 2rem);
  color: var(--black);
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  #documentation, #disclaimer, #creators {
  margin-left: 1.5rem!important;
  margin-right: 1.5rem!important;
  padding: 1rem!important;
  }
}