/*--------------------------------------------------------------
/* FONTS IN ALPHABETIC ORDER 
--------------------------------------------------------------*/

/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Cardo:ital,wght@0,400;0,700;1,400&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Libertinus+Mono&family=Oxanium:wght@200..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'ArtNouveauCaps';
  src: url('../fonts/Art Nouveau Caps.ttf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'DeStijl';
  src: url('../fonts/DeStijl-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GoudyDropcap';
  src: url('../fonts/GoudyInitialen.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family:"Pixelated MS Sans Serif";
  src: url("../fonts/MS Sans Serif.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: 'Pixelify';
  src: url('../fonts/Pixelify_Sans/static/PixelifySans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'University';
  src: url('../fonts/University.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


/*--------------------------------------------------------------
# global
--------------------------------------------------------------*/

:root {
  --black: #050103;
  --white: #FFFFFF;
  --red: #E70503;
  --yellow: #FDDE06;
  --blue: #0300AD;
}


@font-face {
  font-family: 'DeStijl';
  src: url('../fonts/DeStijl-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

h1 {
    font-family: "DeStijl";
  }
p {
    font-family: "Oxanium", serif;
  }


body{
  background-size: 50%;
  background-repeat: repeat;
  background-attachment: fixed;
  color: #000000;
  font-family: 'Oxanium', sans-serif;
  margin: 0;
  padding: 0;
  background: repeating-linear-gradient(
    90deg,
    #f5f5f5,
    #f5f5f5 10px,
    #fafafa 10px,
    #fafafa 20px
  );

}  
.light{
  /*background-image: url("destijl_bg.png") ;*/
  background-size: 50%;
  background-repeat: repeat;
  background-attachment: fixed;
  color: #000000;
  font-family: 'Oxanium', sans-serif;
  margin: 0;
  padding: 0;
  background: repeating-linear-gradient(
    90deg,
    #f5f5f5,
    #f5f5f5 10px,
    #fafafa 10px,
    #fafafa 20px
  );

}

.dark{
  background-color: white;
  font-family: 'Oxanium', sans-serif;
}

body{
  font-family: "Oxanium", sans-serif;
}

/* Links */
a {
  color: var(--blue);
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: var(--red) !important;
}

/*--------------------------------------------------------------
# navbar
--------------------------------------------------------------*/

/* According to dark theme */
.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 50%;
  z-index: -1;
  background-color: var(--red); /* 1つ目の四角 */
  box-shadow: 
    1em 30px var(--yellow);
}

.navbar {
  background-color: rgba(255, 255, 255, 0.9);
  color: var(--black);
  position: relative fixed;
  height: 4rem;
  border-bottom: var(--black) 2px solid;
  z-index: 1;
}


@media (max-width: 578px) {
  .navbar {
    background-color: rgba(255, 255, 255, 0.9);
    color: var(--black);
    z-index: 12;
  }

  .nav-link {
    font-size: 0.8rem;
    margin-left: 0.5rem;
  }
  
#main-nav{
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1rem;
}

}

#navbartext {
  margin-left: 20px; 
  font-size: clamp(0.75rem, 1vw, 1rem);
  color: var(--black);
  z-index: 1;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='black' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22' /%3e%3c/svg%3e");
}


.nav-link {
  color: var(--black) !important;
  font-weight: 500;
  font-size: 0.9rem;
  transition: color 0.3s;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  margin-left: 1rem;
}

.nav-item  .btn{
  font-weight: 500;
  font-size: 0.9rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  margin-left: 1rem;
}

.nav-link:hover {
  color: var(--red) !important;
}


.active {
  color: var(--primary-color-dark) !important;
}

/* button */
.btn {
  background-color: var(--black);
  color: white;
  border-radius: 0;
  border: none;
  padding: 0.5rem 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
}
.btn:hover {
  background-color: var(--red);
  color:white !important  ;
}

/*--------------------------------------------------------------
# off canvas
--------------------------------------------------------------*/
.offcanvas {
  z-index: 2000 !important;
}

.offcanvas-end   {
  background-image: url("../resources/img/destijl/mondrian_frame2.png"); 
  background-size: 80%; 
  background-position: right top; 
  background-repeat: no-repeat;
  padding-right: 1rem;
}

#layout-buttons .btn {
  margin-bottom: 1.618rem;
  background-color: var(--primary-color);
}
/* Choose layout has same id as the button but align styling with headers in offcanvas */
#offcanvasExample .offcanvas-title{
  margin-top: 1em !important;
  font-size: 20px !important;
    
  background: none !important;
  padding: none;
  margin: none;
  box-shadow: none;
  text-decoration: none;
  outline: none;
  outline-offset: none;
  border-radius: 0;
}


#default-title {
  color: rgb(118, 118, 118);
  margin-top: 1.618rem;
}

#default-button {
  background-color: rgb(118, 118, 118) !important;
  font-family: 'Cormorant Garamond';
}

#aldine-button {
  background-color: #e4dec6 !important;
  border-color: #574d38 !important;
  color: #574d38 !important;
  font-family: "Cardo", 'serif' !important;
  font-style: italic;
  width: 150px;
  box-shadow: none;
  border-style: double;
 }

 #aldine-button:hover {
  background-color: #574d38 !important;
  color: #e4dec6 !important;
 }

 #artnouveau-button {
  background-color: #74918A !important;
  border-color: #A8B162 !important;
  color: #FBFDF7 !important;
  font-family: 'ArtNouveauCaps', 'serif' !important;
  font-style: italic;
 }

#artnouveau-button:hover {
  background-color: #574B60 !important;
  color: #FBFDF7 !important;
}

#stijl-button {
  font-family: "Destijl", "sans-serif" !important;
  border-radius: 0 !important;
  color: black !important;
  box-shadow: inset -0.5em -0.5em #FDDE06;;
  background-color: white !important ;
  border: 2px solid black !important;
}

#stijl-button:hover {
  color: white!important;;
  box-shadow: inset -0.5em -0.5em#0300AD ;
  background-color: black ! important;

}

#beall-button {
  background: linear-gradient(135deg,#569DC9 50%, #DC4F34 50%);
  font-family: 'University', sans-serif !important;
  color: white;
}

#beall-button:hover {
  background: linear-gradient(135deg,#265471 50%, #9d2108 50%);
  font-family: 'University', sans-serif !important;
  color: white;
}

#windows-button {
  width: 100%;
  background: grey !important;
  text-align: left;
  font-family: "Pixelated MS Sans Serif", Arial;
  font-size: 12px;
  border: none;
  border-radius: 0;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  box-sizing: border-box;
  min-height: 23px;
  width: auto;
  padding: 1 12px !important;
  text-shadow: 0 0 #222;
  color: black;
}

#cyberpunk-button {
  background-color: hsl(154 50% 5%) !important;
  border-color: hsl(154, 52%, 56%) !important;
  color: hsl(154, 52%, 56%) !important;
  text-shadow: 0 0 6px hsl(154, 52%, 56%);
  font-family: 'Pixelify', sans-serif;
  box-shadow: hsl(154, 52%, 56%) !important;
}

#cyberpunk-button:hover {
  color: white !important;
}


/*--------------------------------------------------------------
# index page
--------------------------------------------------------------*/

/* index.global classes */
.text-box {
  background-color: rgba(248, 249, 250, 0);
  padding: 1.618rem;
}

/* Smaller screens lose the margins to fit the whole screen */
@media (max-width: 768px) {
  .text-box {
    padding: 1rem;
  }
}

/* Animations blocks sliding in from left-side into screen */
/*  Slide for mobile is from down up */
/*.hidden {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 2s;
}

.show {
  opacity: 1;
  transform: translateX(0);
}

/* works better for smaller screens, when scrolling down the blocks move up slowly */
@media (max-width: 768px) {
  .hidden {
    opacity: 0;
    transform: translateY(40px);
    transition: all 1.5s ease;
  }
  
  .show {
    opacity: 1;
    transform: translateY(0);
  }
}

/*------ hero/thumbnail section --------*/

.hero-section {
  width: calc(100vw);  /* padding + gap + borderを考慮 */
  max-width: 100%;
  height: calc(100vh - 50px); /* ナビバーの分を除く */
  margin: 80px auto 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 10fr 1fr;
  gap: 0;
  padding: 0;
  background-color: white;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

/* hero-section common */
.hero-section > * {
  box-sizing: border-box;
  border: 4px solid black;
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
}

/* position overlay */
.hero-overlay {
  position: relative; /* must */
  grid-column: 1 / 3; /* rows1〜2 */
  grid-row: 1 / 2;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  overflow: visible; /* OK for overflow */
}

.hero-overlay::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 50%;    
  height: 50%;  
  background-color: var(--yellow); /* */
  box-sizing: border-box;
  z-index: 0; /* below the text */
  border-radius: 0; 
}

.hero-text {
  color: var(--black);
  margin: 0;
  font-size: larger;
  position: relative;
  z-index: 10;
}

.hero-text span {
  color: var(--red);
}

.hero-subtitle{
  margin-top: 2rem;
  font-size: smaller;
  color: var(--blue);
  position: relative;
  z-index: 10;
}

#carouselHeaderImages {
  grid-column: 3 / 8;
  grid-row: 1 / 2;
  width: 100%;
  height: 100%;
}

.carousel-inner,
.carousel-item,
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* just red bg */
.hero-section::before {
  content: "";
  grid-column: 8 / 9;
  grid-row: 1 / 2;
  background-color:var(--red);
  display: block;
  border-right: 4px solid var(--black);
  border-top: 4px solid var(--black);
  border-bottom: 4px solid var(--black);
}

/* just yellow bg */
.hero-section::after {
  content: "";
  grid-column: 1 / 9;
  grid-row: 2 / 3;
  background-color: var(--black);
  display: block;
  min-height: 100%
}

@media (max-width: 768px) {
  .hero-section {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 4rem;
    position: relative;
  }

  .hero-overlay {
    padding-top: 1rem;
    order: 1;
    width: 100%;
    height: auto;
  }

  #carouselHeaderImages {
    order: 2;
    width: 100%;
    height: auto;
  }

  /* red bg */
  .hero-section::before {
    order: 3;
    content: "";
    width: 100%;
    height: 3rem; /* 高さは調整可能 */
    background-color: var(--red);
    border-top: 4px solid var(--black);
    border-bottom: 4px solid var(--black);
    border-left: 4px solid var(--black);
    border-right: 4px solid var(--black);
    display: block;
    position: static;
  }

  /* delete the black */
  .hero-section::after {
    display: none;
  }
}

/*------ abstract section --------*/
#abstract {
  margin-top: 1.618rem;
}

.has-dropcap {
  overflow: hidden;
  font-size: 2rem;
}

.dropcap {
  float: left;
  font-size: clamp(18rem, 6vw, 8.5rem);
  line-height: 0.70;
  margin: 0.1em 0.1em 0em 0;
  padding-right: 0.15rem;
}

#abstract .text-box {
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
  grid-gap: 0;
  border: 6px solid black;
  position: relative;
  padding: 0;
  width: 100%;
  max-width: 1500px;
}

/* div1: <p class="has-dropcap hidden"> */
#abstract .text-box p.has-dropcap {
  grid-area: 1 / 1 / 4 / 2  ;
  background-color: var(--blue);
  color: var(--white); /*  */
  border: 0;
  padding: 5rem;
  font-size: 1.5rem;
  text-align: justify;
  align-content: center;
  margin:0;
}

/* div2: <p class="hidden">（2番目の） */
#abstract .text-box .destijlgrid {
  grid-area: 2 / 2 / 5 / 3;
  background-color: white; 
  border-left: 4px solid black  ;
  padding: 5rem;
  text-align: justify;
  justify-content: center;
  margin: 0;
}

/* div3〜div6: 色だけの領域（白/赤/黄色）を::beforeで生成 */
#abstract .text-box::before {
  content: "";
  grid-area: 1 / 2 / 2 / 3; /* div3 */
  background-color: var(--red);
  border-left: 4px solid black;
  border-bottom: 4px solid black; 
}


#abstract .text-box::after {
  content: "";
  grid-area: 4 / 1 / 5 / 2; /* div3 */
  background-color: var(--yellow);
 
}

@media screen and (max-width: 768px) {

  /* position vertically */
  #abstract .text-box {
    display: flex;
    flex-direction: column;
    padding: 0;
    border: 6px solid black;
    position: relative;
  }

  /* first paragraph */
  #abstract .text-box p.has-dropcap {
    order: 1;
    padding: 2rem;
    font-size: 1.2rem;
  }

  /* second paragraph */
  #abstract .text-box .destijlgrid  {
    order: 2;
    padding: 2rem;
    border-left: none;
    border-top: 4px solid black;
  }

  /* don't show empty grid */
  #abstract .text-box::before {
    display: none;
  }

  /* show the last empty grid but low height */
  #abstract .text-box::after {
    order: 3;
    content: "";
    display: block;
    height: 50px;
    background-color: var(--yellow);
    border-top: 4px solid black;
  }

  /* make dropcap smaller */
  .dropcap {
    font-size: 4rem;
    line-height: 1;
    margin-right: 0.5rem;
  }
}


/*------ hero/thumbnail section --------*/
/* Themes-info and Narratives-info sections */
/* they inherit most properties from the text-box class but need specific properties as well  */


#theme-info,
#narrative-info {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#theme-text-box {
    background-color: var(--blue) !important;
}

#narratives-text-box {
  background-color: var(--yellow) !important;
}


.infoboxes-title {
  font-size: clamp(5vw, 5vw, 6vw) !important;
  font-family: "Destijl";
  color: white;
}

.infoboxes-text {
  font-size: clamp(1rem, 0.75rem, 1.2rem);
  line-height: 1.6;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  text-align: justify;
  color: var(--white) !important;
}

#narratives-text-box .infoboxes-title,
#narratives-text-box .infoboxes-text,
#narratives-text-box .infoboxes-text a {
  color: var(--black) !important;
}

.infoboxes-text a {
color: var(--white);
}

#narratives-text-box .infoboxes-text a:hover{
  color: var(--red) !important;
}

/* Image tiles in the themes-info and narratives-info section */
.img-card {
    border-radius: 0; 
    border: none;
    max-width: 83.3%;
    max-height: 500px;
    min-height: 500px;
}

#carouselThemeImages .card-img,
#carouselNarrativeImages .card-img,
#collections-info .card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0;
    min-height: 500px;
    max-height: 500px;
}

#carouselThemeImages .card-img-overlay,
#carouselNarrativeImages .card-img-overlay {
    background: #121212a9;
    border-radius: 0;
}

#carouselThemeImages .card-title-carousel,
#carouselNarrativeImages .card-title-carousel {
    font-size: clamp(1.5rem, 2.5vw, 2.8rem);
    color: var(--white);
    
}

#carouselThemeImages .card-text-carousel,
#carouselNarrativeImages .card-text-carousel {
    color: var(--white);
    padding: 1rem;
}



#carouselThemeImages .card-text-carousel a,
#carouselNarrativeImages .card-text-carousel a {
    font-size: 1.5rem;
    font-weight: 500;
    position: absolute; ;
    left: 50%;
    top: 75%;
    color: white;
}


#artCarousel .carousel-control-prev, 
#artCarousel .carousel-control-next {
  width: 3%;
}

@media (max-width: 768px) {
  #theme-info .carousel-control-prev,
  #theme-info .carousel-control-next,
  #narrative-info .carousel-control-prev, 
  #narrative-info .carousel-control-next,
  #artCarousel .carousel-control-prev, 
  #artCarousel .carousel-control-next 
   {
    width: 1.3rem !important;
    padding: 0; /* デフォルトの余白を払いたいなら */
  }

  #theme-info h5,
  #narrative-info h5,
  #collections-info h5{
    font-size: 1.5rem !important;
  }

  #Around-the-Kitchen-Table,
  #Travelling-Through-Time,
  #Taking-Flight,
  #Nature-Interferes,
  .start-story{
    font-size: 1.1rem !important;
    margin-top: 1rem;
  }

}

/*------ Browse the collections section* --------*/

#collections-info {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#collections-text-box {
    background-color: var(--black) !important;
}



/*------ About info section --------*/

#about-info {
    margin-top: 1.618rem;
    margin-bottom: 1.618rem;
}

#about-info .has-dropcap .dropcap  {
  position: relative;
  font-size: clamp(13rem, 6vw, 8.5rem);
  z-index: 0;
}

#about-info .has-dropcap .dropcap::before {
  content: "";
  position: absolute;
  top: -4rem;
  left: -2rem;
  right: 2rem;
  bottom: 3.5rem;
  background-color:var(--red);
  z-index: -1;
}

#about-info p{
  font-size: 1.5rem;
  text-align: justify;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: var(--primary-color);
  color: white;
  transform: rotateY(180deg);
}
@media (max-width: 768px) {
  #about-info .has-dropcap{
    font-size: 1.2rem;
    padding: 2rem;
  }
  #about-info .dropcap{
    font-size: 4rem !important;
    line-height: 1;
    margin-right: 0.5rem;
}
}

/*--------------------------------------------------------------
# exhibition page
--------------------------------------------------------------*/

#intro{
  padding-top: 2rem;
}

/*floating answers styles*/

.floating-answer {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.5rem 1rem; 
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  animation: float 4s ease-in-out infinite;
} 

#floating-answers-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr 1fr;
  width: 100%;
  max-width: 1200px;
  min-height: 600px;
  border: 6px solid var(--black);
  margin: 0 auto;
  position: relative;
}

/* heading */
.main-heading {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: var(--blue);
  border-right: 6px solid var(--black);
  border-bottom: 6px solid var(--black);
  color: white;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* answer display */
.answer-display {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: var(--white);
  border-bottom: 6px solid var(--black);
  position: relative;
  overflow: hidden;
}

#answer-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* bring it to the back */
  pointer-events: none;
  background-color: white;
}

/* description */
.description {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: var(--red);
  border-right: 6px solid var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-align: center;
}

/* modal */
.action-area {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: var(--yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  padding:1rem;
}


@keyframes float {
0% { transform: translateY(0px); }
50% { transform: translateY(-20px); }
100% { transform: translateY(0); }
}


/* choose narrative section*/
#choose-narrative .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  align-items: start;
  width: 100%;
  max-width: 1200px;
  min-height: 600px;
  border: 6px solid var(--black);
  margin: 0 auto;
  gap: 0;
  padding: 0;    
  background-color: var(--white);

}

/* narrative title */
#choose-narrative .nar-title {
  grid-column: 1/3;
  grid-row: 1/2;
  margin: 0;
  height: 5em;
  background-color: var(--yellow);
  padding: 1rem;
  border-right: solid 3px ;
  border-bottom: solid 6px ;
  display: flex;
  flex-wrap: wrap;
} 

/* narrative text */
#choose-narrative .nar-text {
  grid-column: 3/4;
  grid-row: 1/2;
  margin: 0;
  height: 5em;
  background-color: var(--blue);
  padding: 1rem;
  text-align: right; 
  border-bottom: solid 6px var(--black);
  border-left: solid 3px var(--black);
  
}

#choose-narrative .nar-text p{ 
  color: var(--white) !important;
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;
}


/* cards */
#choose-narrative .card-group {
  grid-column: 1 / 4;
  grid-row: 2/3;
  display: flex;
  flex-wrap: wrap;
  gap: 12rem;
  margin: 2rem;
}

/* Cards */
.card {
  border-radius: 0 !important;
}

@media (max-width: 768px) {
  #choose-narrative .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  #choose-narrative .nar-title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: auto;
    border-right: none;
    border-bottom: solid 3px var(--black);
  }

  #choose-narrative .nar-text {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: auto;
    border-left: none;
    border-top: none;
    border-bottom: solid 6px var(--black);
    padding: 1rem;
  }

  #choose-narrative .card-group {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    flex-direction: column;
    gap: 2rem;
    margin: 1rem;
  }

  #choose-narrative .card-group .card {
    width: 100%;
  }
}

/* set random-like border color for cards */
#choose-narrative .card:nth-of-type(4n+1) {
  border-right: 6px solid var(--red) !important;
  border-bottom: 6px solid var(--red) !important;
  
}

#choose-narrative .card:nth-of-type(4n+2) {
  border-right: 6px solid var(--blue) !important;
  border-bottom: 6px solid var(--blue) !important;
}

#choose-narrative .card:nth-of-type(4n+3) {
  border-right: 6px solid var(--yellow) !important;
  border-bottom: 6px solid var(--yellow) !important;
}

.card:nth-of-type(4n+4) {
  border-right: 6px solid var(--black) !important;
  border-bottom: 6px solid var(--black) !important;
} 

/* card link styles */
.link-card:hover,
.link-card:focus,
.link-card:active {
    background: repeating-linear-gradient(
    90deg,
    #f5f5f5,
    #f5f5f5 10px,
    #fafafa 10px,
    #fafafa 20px
    );/* hovering background color */
    transition: background-color 0.2s ease;
}

/*  interactive map styles */
#rooms .container {
  display: grid;
  grid-template-columns: 4fr;
  grid-template-rows: auto 1fr;
  width: 100%;
  max-width: 1200px;
  min-height: 600px;
  border: 6px solid var(--black);
  background-color: var(--blue);
  padding: 0;
}

#rooms h1 {
  grid-column: 1;
  grid-row: 1/2;
  margin: 0 !important;
  padding: 1em;
  background-color: var(--red);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: left;
  border-bottom: 6px solid var(--black);
} 

#rooms .lead{
  grid-column: 3/4;
  grid-row: 2/3;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1em;
  background-color: var(--blue);
  color: var(--white) !important;
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;

} 

#rooms svg {
  grid-column: 1/3;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: var(--white);
  align-self: start;
  margin: 0;

} 


/* change color with hover */
.room:nth-of-type(3n):hover { fill: var(--red); }
.room:nth-of-type(3n+1):hover { fill: var(--blue); }
.room:nth-of-type(3n+2):hover { fill: var(--yellow); }
  /* pop up style */
.popup {
    position: absolute;
    display: none;
    width: 50% ;            /* this is controlled with JS */
    max-width: 300px;
    padding: 1em 1.5em;
    background: #fff;
    border-radius: 0;
    box-shadow: 2px 2px 8px rgba(0,0,0,.15);
    font-size: 14px;
    z-index: 10;
}

 .popup:nth-of-type(4n) {
  border-right: 4px solid var(--red) !important;
  border-bottom: 4px solid var(--red) !important;
}

.popup:nth-of-type(4n+1) {
  border-right: 4px solid var(--blue) !important;
  border-bottom: 4px solid var(--blue) !important;
}

.popup:nth-of-type(4n+2) {
  border-right: 4px solid var(--yellow) !important;
  border-bottom: 4px solid var(--yellow) !important;
}

.popup:nth-of-type(4n+4) {
  border-right: 4px solid var(--black) !important;
  border-bottom: 4px solid var(--black) !important;
} 

/* browse the collection styles */
#collections .container {
  display: grid;
  grid-template-columns: 3fr;
  grid-template-rows: auto 1fr;
  width: 100%;
  max-width: 1200px;
  min-height: 600px;
  border: 6px solid var(--black);
  background-color: var(--red);
  padding: 0;
}

#collections h1 {
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 0 !important;
  padding: 1em;
  background-color: var(--yellow);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: left;
  border-bottom: 6px solid var(--black);
} 

#collections .lead{
  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  color: var(--white) !important;
  margin: 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
} 

#collections img {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  background-color: var(--red);
  align-self: start;
  margin: 0;

} 

  #choose-narrative, #rooms, #collections {
    margin-top: 2.5rem !important;
  }

  #collections .container {
    margin-top: 0 !important;
  }

@media (max-width: 768px) {
  #choose-narrative, #rooms, #collections {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}

/*--------------------------------------------------------------
# artviewer
--------------------------------------------------------------*/
#viewer{
 border-top: 4px solid var(--black);
}

#artCarousel .carousel-control-prev, 
#artCarousel .carousel-control-next {
  width: 2rem;
  background-color: var(--red) !important;
  z-index: 0;
}

#artCarousel .card {
  border: 4px solid var(--black);
  background-color: rgba(255, 255, 255, 0.95);
} 

#artCarousel .card-title {
  font-size: clamp(2rem, 1.5vw, 2rem);
  color: var(--black);
  font-weight: bold;
} 

#artCarousel .text-muted {
  font-size: clamp(1.1rem, 1vw, 1rem);
  margin-top: 1rem;
  font-weight: 500;
} 

#artCarousel .accordion{
  border: 3px solid var(--black);
  padding: 0 !important;
}

#artCarousel .accordion-button {
  background-color: var(--yellow);
  color: var(--black);
  border: none;
  border-radius: 0;
  box-shadow: none; /* removes default focus shadow */
  outline: none; /* removes focus outline */
  font-weight: bold; 
  font-size: 18px;
  text-transform: capitalize;
  margin: 0;
  
}

#artCarousel .accordion-button:focus {
  box-shadow: none;
  outline: none;
  border: none;
}
#artCarousel .accordion-button{
  background-color: var(--yellow);
}

#artCarousel .accordion-body td {
  padding: 0.5rem 1rem; /* Padding inside cells */
  vertical-align: top;
  color: var(--black);
  text-transform: capitalize;
}


/*--------------------------------------------------------------
# gallery
--------------------------------------------------------------*/
#gallery h1{
  font-weight: 600;
  font-size: clamp(2rem, 3.5vw, 3rem);
  letter-spacing: 0.2rem;
}

#gallery .card {
  position: relative;
  border:3px solid var(--black);
  background-color: white;
  padding-top: 4rem !important;
  padding-left: 1.5rem !important;
  padding-right: 3.5rem !important;
  z-index: 0;;
  background-image: url("../resources/img/destijl/mondrian_frame3.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: top right;
}

#gallery .card::before {
  content: "";
  position: absolute;
  top: -10px; left: -10px; right: -10px; bottom: -10px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1; 
  pointer-events: none;
}

#gallery .accordion{
  border: 3px solid var(--black);
  padding: 0 !important;
}

#gallery .accordion-button {
  border: none !important;
  margin: 0 !important;
}

#gallery .accordion-button:focus {
  box-shadow: none;
  outline: none;
  border: none;
}

#gallery .card-text{
  font-size: 0.rem;
  text-align: justify;
}



#gallery .gallery-card:has(.taking-flight) .accordion-button {
  background-color:var(--red); 
  color: white;
}

#gallery .gallery-card:has(.nature-interferes) .accordion-button {
  background-color:var(--blue);
  color: white;
}

#gallery .gallery-card:has(.around-the-kitchen-table) .accordion-button {
  background-color: var(--yellow); 
  color: var(--black);
}

#gallery .gallery-card:has(.travelling-through-time)  .accordion-button {
  background-color: var(--black); 
  color:white;    
}

@media (max-width: 768px) {
 #gallery {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 0.8 rem !important;
  }
 #gallery .card-body{
  padding-left: 0;
  padding-right: 0;
 }
}



/* Footer styles */
footer {
  padding: 0.5rem;
  margin-top: 0;
  border-top: 4px solid var(--black);
  border-bottom: 4px solid var(--black);
  background-color: var(--black);
}

/* make footer grid-like */
footer .footer .col-md-3,
footer .footer .col-md-6 {
  padding-top: 15px;
}

footer .footer .col-md-6 {
  background-color: var(--blue);
  color: var(--white);
}

footer .footer .col-md-3 {
  background-color: white;
  color: var(--black);
}

/* lower part of footer (the copyright) */
footer .text-center {
  background-color: var(--yellow);
  padding: 0.5rem;
  color: var(--black);
  font-size: 0.9rem;
  text-align: center;
  justify-content: center;
}

/*--------------------------------------------------------------
# Documentation
--------------------------------------------------------------*/

#documentation, #disclaimer, #creators {
  background: url("../resources/img/destijl/mondrian_frame5.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 45vh;
  background-position: right 120%;
} 

#disclaimer, #creators{
  margin: 3rem!important;
  padding-left: 5rem!important;
  padding-right: 5rem!important;
} 

#documentation h1,
#disclaimer h1,
#creators h1 {
  font-size: clamp(2rem, 3vw, 4rem);
  font-weight: bold;
  color: var(--black);
}

#documentation h2,
#disclaimer h2,
#creators h2  {
  font-family: "Destijl";
  font-size: clamp(1.5rem, 2vw, 3rem);
  font-weight: bold;
  color: var(--black);
  margin-bottom: 1rem;
}


#documentation h3,
#disclaimer h3,
#creators h3 {
  font-family: "Destijl";
  font-size: clamp(1rem, 1.5vw, 2rem);
  font-weight: bold;
  color: var(--black);
  margin-bottom: 1rem;
}

#documentation p,
#disclaimer p,
#creators p 
#documentation a,
#disclaimer a,
#creators a{
  font-family: "Oxanium";
  font-size: clamp(0.9rem, 1.1vw, 1rem);
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  #documentation, #disclaimer, #creators {
  margin-left: 1rem!important;
  margin-right: 1rem!important;
  padding: 1rem!important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto 50vh;
  }

  #disclaimer, #creators{
  margin-top: 3rem!important;
  padding-left: 1.5rem!important;
  padding-right: 1.5rem!important;
  } 
};