/*--------------------------------------------------------------
/* FONTS IN ALPHABETIC ORDER 
--------------------------------------------------------------*/

/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Cardo:ital,wght@0,400;0,700;1,400&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Libertinus+Mono&family=Oxanium:wght@200..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'ArtNouveauCaps';
  src: url('../fonts/Art Nouveau Caps.ttf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'DeStijl';
  src: url('../fonts/DeStijl-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GoudyDropcap';
  src: url('../fonts/GoudyInitialen.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family:"Pixelated MS Sans Serif";
  src: url("../fonts/MS Sans Serif.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: 'Pixelify';
  src: url('../fonts/Pixelify_Sans/static/PixelifySans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'University';
  src: url('../fonts/University.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/*--------------------------------------------------------------
# global
--------------------------------------------------------------*/

:root {
  --black: #1A1A1A;
  --white: #EDEDED;
  --primary-color: #82994B;         /*Moss Green*/
  --primary-color-dark:#556a27 ;    /*darker moss green*/
  --accent-color: #B14236;          /*Persian Red*/
  --accent-color-dark: #952215;     /*darker persian red*/

  /* Theme colours */
  --kitchen: #D19FCB;
  --flight: #9D3617;
  --nature: #DAF7DC;
  --time: #ABC8C0;
}

body {
    /* push main content to the right */
    margin-left: 240px; /* sidebar width + spacing */
    margin-bottom: 60px;
    background: #c0c0c0;
    color: #222;
    font-family: Arial;
    font-size: 12px;
    display: block;
}

p { 
    margin-bottom: 1.5em;
}

/* For light-theme pages, add class="light" to body to reverse bg and text colors */
body.light {       /*Anti Flash White*/
    color: #1A1A1A;                       /*Eerie Black*/
}

/* links and buttons */
a {
  color: red;
}

a:hover {
  color: var(--accent-color-dark);
}




/* BUTTONS */
/* --------------------------------------------------------------*/
.btn-primary {
  width: 100%;
  background: none;
  text-align: left;
  font-family: "Pixelated MS Sans Serif", Arial;
  font-size: 12px;
  border: none;
  border-radius: 0;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  box-sizing: border-box;
  min-height: 23px;
  min-width: 75px;
  padding: 1 12px !important;
  text-shadow: 0 0 #222;
  color: black;
}


/* NAVBAR */
/* --------------------------------------------------------------*/
.navbar.fixed-top {
    top: 5px;
    left: 205px;
    width: calc(100% - 205px);
    background: #c0c0c0 !important;
    box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a;
    border-bottom: 2px solid #000;
    padding: 0;
    font-family: "Pixelated MS Sans Serif", Arial, sans-serif;
    font-size: 11px;
}

@media (max-width: 440px) {
    .navbar.fixed-top {
        left: 0;
        width: 100%;
    }
}

/* 'To have, to lose, to find' */
#navbartext {
    color: rgb(0 0 0) !important;
    font-size: clamp(8pt, 2vw, 10pt);
    position: absolute;
    top: 15px;
    left: 70px;
}

/* Switching compass light image to dark */
.navbar-brand img {
    display: none;
  }
  
.navbar-brand {
    display: inline-block;
    background-image: url('../resources/img/compass-modern.png');
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    /* hiding the original image */
    content: '';
    color: transparent;
    font-size: 0;
    border: none;
}

/* Navbar buttons and dropdown */
.navbar-dark .navbar-nav .nav-link {
    color: black;
}

.navbar-nav .nav-link {
    background: #c0c0c0;
    padding: 4px 10px;
    margin: 4px 2px 0 0;
    box-shadow: inset -1px -1px #808080, inset 1px 1px #fff;
    text-decoration: none;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus,
.btn-primary:hover,
.btn-primary:focus {
    background: #c0c0c0;
    box-shadow: inset -1px -1px #000, inset 1px 1px #fff;
    outline: none;
}

.navbar-nav .nav-link.active,
.btn-primary:active {
    background: #c0c0c0;
    box-shadow: inset 2px 2px #808080, inset -2px -2px #fff;
    font-weight: bold;
}

.navbar .dropdown-menu {
    background: #dfdfdf;
    border: 2px solid #808080;
    box-shadow: inset -1px -1px #fff, inset 1px 1px #000;
    font-size: 11px;
    font-family: "Pixelated MS Sans Serif", Arial, sans-serif;
    border-radius: 0;
}

.navbar .dropdown-item {
background: none;
color: black;
padding: 4px 8px;
}

.navbar .dropdown-item:hover {
background: #c0c0c0;
}

/* Navbar dropdown icon */
.navbar-toggler-icon {
  /* create block space for new icon */
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;

  /* remove the bootstrap icon */
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

/* source: https://github.com/AlexBSoft/win95.css/blob/master/assets/icons/directory_open_cool-5.png */
.navbar-dark .navbar-toggler .navbar-toggler-icon {
  width: 32px;
  background: url('../resources/img/windows/directory_open_cool-5.png');
}




/* OFFCANVAS */
/* --------------------------------------------------------------*/
/* Button to open offcanvas */
#chooseLayout {
    background: #c0c0c0;
    padding: 4px 10px;
    margin: 4px 2px 0 0;
    box-shadow: inset -1px -1px #808080, inset 1px 1px #fff;
    text-decoration: none;
    outline: 1px dotted #000000;
    outline-offset: -4px;
    border-radius: 0;
}


#offcanvasExample {
    width: 200px !important;
    max-width: 200px;
    top: 5px;
    left: 5px;
    bottom: 5px;
    /* offcanvas stays visible at the left of the screen > 440px vw */
    /* using also javascript to change bootstrap behavior */
    right: auto;
    transform: translateX(0%) !important;
    visibility: visible !important;
    position: fixed !important;
    background-color: #fff;
    box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
    overflow-y: auto;
    padding: 6px;
    z-index: 1045;
}

/* source: https://github.com/jdan/98.css/tree/main/fonts/src/ms-sans-serif */
#offcanvasExample p {
    font-family: "Pixelated MS Sans Serif", Arial;
    font-size: 11px;
}
  
/* hide offcanvas backdrop */
.offcanvas-backdrop {
  display: none !important;
}

/* tree-style link styling */
#offcanvasExample ul,
#layout-buttons {
  padding-left: 0;
  list-style: none;
  font-family: "Pixelated MS Sans Serif", Arial;
  font-size: 11px;
  -webkit-font-smoothing: none;
}

/* Choose layout has same id as the button but align styling with headers in offcanvas */
#offcanvasExample .offcanvas-title {
  margin-top: 1em !important;
  font-size: 20px !important;
  font-family: "Pixelated MS Sans Serif", Arial, sans-serif;

    
  background: none;
  padding: none;
  margin: none;
  box-shadow: none;
  text-decoration: none;
  outline: none;
  outline-offset: none;
  border-radius: 0;
}

#offcanvasExample h5 {
  font-family: "Pixelated MS Sans Serif", Arial, sans-serif;
  font-size: 12px;
  margin-top: 1em;
  margin-bottom: 0.5em;
}


#layout-buttons .btn {
  margin-bottom: 1.618rem;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
}

#default-title {
  color: rgb(118, 118, 118);
  margin-top: 1.618rem;
}

#default-button {
  background-color: rgb(118, 118, 118) !important;
  font-family: 'Cormorant Garamond';
}

#aldine-button {
  background-color: #e4dec6 !important;
  border-color: #574d38 !important;
  color: #574d38 !important;
  font-family: "Cardo", 'serif' !important;
  font-style: italic;
  width: 150px;
  box-shadow: none;
  border-style: double;
 }

 #aldine-button:hover {
  background-color: #574d38 !important;
  color: #e4dec6 !important;
 }

 #artnouveau-button {
  background-color: #74918A !important;
  border-color: #A8B162 !important;
  color: #FBFDF7 !important;
  font-family: 'ArtNouveauCaps', 'serif' !important;
  font-style: italic;
 }

#artnouveau-button:hover {
  background-color: #574B60 !important;
  color: #FBFDF7 !important;
}

#stijl-button {
  font-family: "Destijl", "sans-serif" !important;
  border-radius: 0 !important;
  color: black !important;
  box-shadow: inset -0.5em -0.5em #FDDE06;;
  background-color: white !important ;
  border: 2px solid black !important;
  width: 100px;
}

#stijl-button:hover {
  color: white!important;;
  box-shadow: inset -0.5em -0.5em#0300AD ;
  background-color: black ! important;

}

#beall-button {
  background: linear-gradient(135deg,#569DC9 50%, #DC4F34 50%);
  font-family: 'University', sans-serif !important;
  color: white;
}

#beall-button:hover {
  background: linear-gradient(135deg,#265471 50%, #9d2108 50%);
  font-family: 'University', sans-serif !important;
  color: white;
}

#windows-button {
  width: 100%;
  background: grey !important;
  text-align: left;
  font-family: "Pixelated MS Sans Serif", Arial;
  font-size: 12px;
  border: none;
  border-radius: 0;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  box-sizing: border-box;
  min-height: 23px;
  width: auto;
  padding: 1 12px !important;
  text-shadow: 0 0 #222;
  color: black;
}

#cyberpunk-button {
  background-color: hsl(154 50% 5%) !important;
  border-color: hsl(154, 52%, 56%) !important;
  color: hsl(154, 52%, 56%) !important;
  text-shadow: 0 0 6px hsl(154, 52%, 56%);
  font-family: 'Pixelify', sans-serif;
  box-shadow: hsl(154, 52%, 56%) !important;
}

#cyberpunk-button:hover {
  color: white !important;
}

.offcanvas-header .btn-close {
  display: none !important;
}

@media (max-width: 440px) {
    #offcanvasExample {
      display: none !important;
      width: 100vw !important;
      max-width: 100vw !important;
      height: 100vh !important;
      left: 0 !important;
      top: 0 !important;
      right: 0 !important;
      bottom: 0 !important;
      margin: 0 !important;
      padding: 1rem;
      z-index: 9999;
    }
  
    #offcanvasExample.show {
      display: block !important;
    }
  
    body {
      margin-left: 0 !important;
    }

    .offcanvas-header .btn-close {
        display: block !important;
        position: absolute;
        right: 25px;
        top: 20px;
        z-index: 10000;
        border: none;
        font-size: 1rem;
        color: black;
      }
  }
  
@media (min-width: 441px) {
    #offcanvasExample {
      display: block !important;
    }
  }
  

/* --------------------------------------------- */

 /* Retro scrolling bar  */
::-webkit-scrollbar-track {
background-image: url("data:image/svg+xml,%3Csvg width='2' height='2' viewBox='0 0 2 2' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='silver' d='M1 0H0v1h1v1h1V1H1V0z'/%3E%3Cpath fill='%23fff' d='M2 0H1v1H0v1h1V1h1V0z'/%3E%3C/svg%3E");
}

::-webkit-scrollbar-thumb {
background-color: #dfdfdf;
box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
}

::-webkit-scrollbar {
    width: 16px;
}

.custom-scroll-wrapper {
    position: relative;
    overflow: hidden;
    padding-right: 20px; /* leave space for fake scrollbar */
}
  
.scrollable-area {
    overflow-y: scroll;
    height: 300px;
}
  
/* Fake scrollbar area */
.custom-scroll-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 100%;
    background-image: url('data:image/svg+xml,%3Csvg ...checker pattern...%3E');
    background-repeat: repeat;
    border-left: 2px solid #808080;
    box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a;
}

/*--------------------------------------------------------------*/

footer {
  background: silver;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
  padding: 3px;
}

footer h5 {
  font-family: "Pixelated MS Sans Serif", Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  color: black;
}

/*--------------------------------------------------------------
# index page
--------------------------------------------------------------*/

/* index.global classes */
.text-box {
  background-color: rgba(248, 249, 250, 0);
  padding: 1.618rem;
}

/* Smaller screens lose the margins to fit the whole screen */
@media (max-width: 768px) {
  .text-box {
    padding: 1rem;
  }
}

/* hero/thumbnail section */
/* --------------------------------------------------------------*/
#carouselHeaderImages img {
    display: none;
  }

.hero-section {
    position: relative;
}

#carouselHeaderImages.carousel,
.carousel-inner,
.carousel-item {
  height: 100%;
}

.carousel-item img {
  object-fit: cover;
  object-position: center 30%;
  height: 100%;
  width: 100%;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-text {
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  font-size: 5rem;
  margin: 12px 0;
  margin-top: 40px;
}

.hero-text::after {
  content: "";
  display: block;
  margin-top: 10px;
  margin-left: 10;
  width: 400px;
  height: 1px;
  opacity: 0.5;
  background: linear-gradient(
      to right,
      red 20%,
      yellow 20%,
      yellow 36%,
      green 36%,
      green 60%,
      blue 60%,
      blue 100%
  );
}

.hero-text span {
    color: green;
}


.hero-subtitle {
  font-style: normal;
  text-align: start;
  line-height: 1;
  box-sizing: border-box;
}

/* Abstract section */
/* --------------------------------------------------------------*/
#abstract {
  margin-top: 200px;
}

@media (max-width: 849px) {
  #abstract {
    margin-top: 300px;
  }
  
  #abstract .col-lg-10,
  #abstract .col-md-10,
  #abstract .col-sm-10 {
    margin-top: 1rem;
  }
}

@media (max-width: 440px) {
  #abstract {
    margin-top: 150px;
  }
  
  #abstract .col-lg-10, 
  #abstract .col-md-10, 
  #abstract .col-sm-10 {
    margin-top: 2rem;
    margin-left: 0.5rem;
    width: 90vw;
  }

  #abstract .justify-content-center {
    justify-content: center !important;
    width: 90vw !important;
  }

  .hero-text {
    font-size: 3rem;
    margin: 12px 0;
    margin-top: 50px;
    margin-left: 0.5rem;
  }

  .hero-subtitle {
    margin-left: 0.5rem;
  }

}

#abstract .col-lg-10,
#abstract .col-md-10,
#abstract .col-sm-10 {
  flex: 0 0 auto !important;
  padding: 0 !important;
  width: 90vw;
  display: block;
  margin-block-end: 1em;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

#abstract .justify-content-center {
  justify-content: start !important;
  width: 70vw;
}

/* --------------------------------------------
   THEMES AND NARRATIVES SECTION LAYOUT
--------------------------------------------- */
/* Neutralize Bootstrap column behavior */
#themes-info .col-lg-6,
#themes-info .col-md-5,
#themes-info .col-sm-10,
#narratives-info .col-lg-6,
#narratives-info .col-md-5,
#narratives-info .col-sm-10 {
  flex: 0 0 auto !important;
  width: auto !important;
  max-width: none !important;
  padding: 0 !important;
}

#theme-info .justify-content-center {
  justify-content: start !important;
  width: 80vw;
}

.justify-content-center {
  justify-content: start !important;
  width: 80vw;
}

#theme-info .p-4,
#narratives-info .p-4 {
  padding: 0.5rem !important;
}

#theme-text-box {
  background-color: green;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
  padding: 3px;
}

#narratives-text-box {
  background-color: red;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
  padding: 3px;
}

.infoboxes-title {
  color: white;
  font-family: 'Pixelated MS Sans Serif';
}

.infoboxes-text {
  line-height: 1.6;
  margin-top: 1rem;
  color: var(--white) !important;
}

.infoboxes-text a {
color: var(--white);
}

/* Image tiles in the themes-info and narratives-info section */
.img-card {
    border-radius: 0; 
    border: none;
    max-width: 83.3%;
    max-height: 40vh;
    min-height: 40vh;
}

#carouselThemeImages .card-img,
#carouselNarrativeImages .card-img,
#collections-info .card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0;
    min-height: 40vh;
    max-height: 40vh;
}

#carouselThemeImages .card-img-overlay,
#carouselNarrativeImages .card-img-overlay {
    background: #121212a9;
    border-radius: 0;
}

#carouselThemeImages .card-title-carousel,
#carouselNarrativeImages .card-title-carousel {
  color: var(--white);
  font-family: 'Pixelated MS Sans Serif';
}

#carouselThemeImages .card-text-carousel,
#carouselNarrativeImages .card-text-carousel {
    color: var(--white);
}
#carouselThemeImages .card-text-carousel a,
#carouselNarrativeImages .card-text-carousel a {
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  top: 70%;
  font-family: 'Pixelated MS Sans Serif';
}

#collectionsImageCard {
    border-radius: 0;
    border: none;
}

#collections-info .infoboxes-text,
#collections-info .infoboxes-title {
  color: #0c0c0c !important;
}

/* RESPONSIVENESS */

@media (min-width: 992px) {
  #theme-info .col-lg-4,
  #narratives-info .col-lg-4 {
      flex: 0 0 auto;
      width: 33.3333% !important;
  }
}

@media (min-width: 768px) {
  #theme-info .col-md-5,
  #narratives-info  {
      flex: 0 0 auto;
      width: 41.6667% !important;
  }
}

@media (max-width: 440px) {
  #theme-text-box {
    width: 100vw !important;
  }

  #theme-carousel-wrapper {
    width: 100vw !important;
  }

  #carouselThemeImages.carousel, 
  #carouselThemeImages.carousel-inner, 
  #carouselThemeImages.carousel-item,
  #carouselNarrativeImages.carousel, 
  #carouselNarrativeImages.carousel-inner, 
  #carouselNarrativeImages.carousel-item {
    height: 40vh;
  }

  #theme-info .justify-content-center,
  #narrative-info .justify-content-center {
    justify-content: center !important;
    width: 100vw !important;
  }

  #collections-info .card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0;
    min-height: 40vh;
    max-height: 40vh;
  }

  #about-info .justify-content-center {
    justify-content: center !important;
    width: 90vw !important;
  }

  #collections-info .row {
    justify-content: start !important;
    width: 100vw;
  }
}


/* About info section */
/* --------------------------------------------------------------*/

#about-info {
    margin-top: 1.618rem;
}

/*--------------------------------------------------------------
# exhibition page
--------------------------------------------------------------*/

/*floating answers styles*/

.floating-answers-container {
  position: relative;
  min-height: 600px;
  background-color: var(--text-color);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 50px;
  background: #fff;
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
}

.floating-answer {
    position: absolute;
    font-style: italic;
    color: #6c757d;
    padding: 5px 10px;
    border-radius: 8px;
    max-width: 200px;
    pointer-events: none;
    animation: float 8s ease-in-out infinite;
    font-family: 'Pixelated MS Sans Serif';
}

@keyframes float {
0% { transform: translateY(0px); }
50% { transform: translateY(-20px); }
100% { transform: translateY(0); }
}

/* card link styles */
.link-card:hover,
.link-card:focus,
.link-card:active {
    background-color: #EDEDED; /* hovering background color */
    transition: background-color 0.2s ease;
}

/*  interactive map styles */
/* change color with hover */
.room:hover { fill: var(--primary-color); }

.popup {
  position: absolute;
  display: none;
  width: 50%;
  max-width: 300px;
  padding: 1em 1.5em;
  background: #fff;
  border-radius: 1.5em;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, .15);
  font-size: 14px;
  z-index: 10;
  background: silver;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
  border-radius: 0;
}

#popup h3,
#popup a {
  font-family: 'Pixelated MS Sans Serif';
  font-size: 16px;
  margin-bottom: 0.5em;
}

#popup p {
  font-size: 11px;
  margin: 0;
}

.display-5 {
  font-family: 'Pixelated MS Sans Serif';
  text-align: center;
}

.text-muted {
  --bs-text-opacity: 1;
  color: var(--bs-secondary-color) !important;
  font-family: 'Pixelated MS Sans Serif';
  text-align: center;
}


.lead {
  font-size: 12px;
}

.cardheader {
  font-family: 'Pixelated MS Sans Serif';
}

.card {
  background: silver;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
  padding: 3px;
  border-radius: 0;
}

.card-header {
  align-items: center;
    background: linear-gradient(90deg, navy, #1084d0);
    display: flex;
    justify-content: space-between;
    padding: 3px 2px 3px 3px;
}

.card-title {
  font-size: 12px;
  font-family: 'Pixelated MS Sans Serif';
  color: white;
}

.btn-outline-secondary {
  width: 200px;
  background: none;
  text-align: left;
  font-family: "Pixelated MS Sans Serif", Arial;
  font-size: 12px;
  border: none;
  border-radius: 0;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  box-sizing: border-box;
  min-height: 23px;
  padding: 1 12px !important;
  text-shadow: 0 0 #222;
  color: black;
}

/*--------------------------------------------------------------
# art viewer
--------------------------------------------------------------*/

/* === Carousel === */

#artCarousel .col-xl-5 {
  width: 100vw !important;
}

#artCarousel .carousel-control-prev, 
#artCarousel .carousel-control-next {
  width: 3%;
  background-color: #2222227e;
}

/* Make carousel-inner scrollable if content grows */
#artCarousel .carousel-inner {
  height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}

/* === Accordion === */
#artCarousel .accordion-body td:first-child {
  font-weight: bold;
  color: green !important;
  width: 30%;
  padding-left: 0px;
}

/* === Card === */

#artCarousel .card-body h5 {
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 8px;
  font-family: 'Pixelated MS Sans Serif', Arial, sans-serif;
  color: black;
}

#artCarousel .card-body h6 {
  font-size: 12px;
  font-weight: 600;
  text-align: start;
}

#artCarousel .card-body p {
  font-size: 20px;
}

#artCarousel .card img{
  object-fit: contain;
  object-position: 50% 50%;
}

/* Row bottom border */
/* .accordion-body tr td{
  border-bottom: 1px solid color-mix(in srgb, var(--white), transparent 30%);;
} */

/* Optional: spacing between first and second column */
#artCarousel .accordion-body td:first-child {
  font-weight: bold;
  color: var(--primary-color);
  width: 30%;
  padding-left: 0px;
}

#artCarousel .accordion-body td:last-child {
  text-align: right;
  word-break: break-word;
}

#artCarousel .card-body p {
  font-size: 12px;
  color: black;
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
#gallery h1 {
  text-align: start !important;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  font-size: 3rem;
  margin: 12px 0;
  margin-top: 40px;
}

#gallery h1::after {
  content: "";
  display: block;
  margin-top: 10px;
  margin-left: 10;
  width: 400px;
  height: 1px;
  opacity: 0.5;
  background: linear-gradient(to right, red 20%, yellow 20%, yellow 36%, green 36%, green 60%, blue 60%, blue 100%);
}

.text-center {
  text-align: start !important;
}

.gallery-card .card {
  background: silver;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
  padding: 3px;
   border-radius: 0;
}

.gallery-card .card-body h5 {
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 8px;
  font-family: 'Pixelated MS Sans Serif', Arial, sans-serif;
  color: black;
}

.gallery-card .card-body h6 {
  font-size: 12px;
  font-weight: 600;
  text-align: start;
}

.gallery-card .card-body p {
  font-size: 12px;
}

.gallery-card .card img{
  object-fit: contain;
  object-position: 50% 50%;
}

/* --- Accordion --- */

.accordion-button {
  background-color: var(--black);
  color: var(--white);
  border: none;
  border-bottom: 2px solid var(--primary-color);
  border-radius: 0;
  box-shadow: none; /* removes default focus shadow */
  outline: none; /* removes focus outline */
  padding-left: 2px;
  padding-bottom: 20px;
  /* font-weight: bold; */
  font-size: 18px;
  text-transform: capitalize;
  
}

.accordion-button:focus {
  box-shadow: none;
  outline: none;
  border: none;
}

.accordion-button:not(.collapsed) {
  align-items: center;
  background: linear-gradient(90deg, navy, #1084d0);
  display: flex;
  justify-content: space-between;
  padding: 3px 2px 3px 3px;
  color: var(--white);
  font-family: 'Pixelated MS Sans Serif';
  font-size: 12px;
}

/* When accordion is collapsed */
.accordion-button.collapsed {
  align-items: center;
  background: linear-gradient(90deg, navy, #1084d0);
  display: flex;
  justify-content: space-between;
  padding: 3px 2px 3px 3px;
  color: var(--white);
  font-family: 'Pixelated MS Sans Serif';
  font-size: 12px;
}

.accordion-body {
  background: silver;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
  padding: 3px;
  border-radius: 0;
  color: black;
  border-bottom: 2px solid green;
}

.accordion-item {
  border: none; /* Removes the border around the item */
  border-radius: 0;
  background-color: transparent;
}

.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  background-repeat: no-repeat;
  background-size: 1.25rem;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%2382994B' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
  transition: all 0.3s ease;
}

/* When accordion is open */
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23BEBEBECC' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
}

/* === Metadata Table === */
.accordion-body table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.75rem; /* Adds vertical spacing between rows */
}

.accordion-body td {
  padding: 0.5rem 1rem; /* Padding inside cells */
  vertical-align: top;
  color: black;
  text-transform: capitalize;
}

/* Row bottom border */
/* .accordion-body tr td{
  border-bottom: 1px solid color-mix(in srgb, var(--white), transparent 30%);;
} */

/* Optional: spacing between first and second column */
.accordion-body td:first-child {
  font-weight: bold;
  color: green;
  width: 30%;
  padding-left: 0px;
}

.accordion-body td:last-child {
  text-align: right;
  word-break: break-word;
}

.accordion-body p {
  font-size: 16px;
}

.nature-interferes {
  /* border-color: var(--nature); */
  border-left: 8px solid var(--nature);
  
}

.travelling-through-time {
  border-left: 8px solid var(--time);
}

.taking-flight {
  border-left: 8px solid var(--flight);
}

.around-the-kitchen-table {
  border-left: 8px solid var(--kitchen);

}

/* --------------------------------- */
/* DOCUMENTATION */
/* --------------------------------- */

h1,
.display-4 {
  font-weight: 300;
  line-height: 1.2;
  font-size: calc(1.475rem + 2.7vw);
  text-align: start !important;
  margin-block-start: 0.67em;
  font-weight: bold;
  font-size: 3rem;
}

h1.display-4::after {
  content: "";
  display: block;
  margin-top: 10px;
  margin-left: 10;
  width: 400px;
  height: 1px;
  opacity: 0.5;
  background: linear-gradient(to right, red 20%, yellow 20%, yellow 36%, green 36%, green 60%, blue 60%, blue 100%);
}

h1::after {
  content: "";
  display: block;
  margin-top: 10px;
  margin-left: 10;
  width: 400px;
  height: 1px;
  opacity: 0.5;
  background: linear-gradient(to right, red 20%, yellow 20%, yellow 36%, green 36%, green 60%, blue 60%, blue 100%);
}

#documentation h2 {
  font-family: 'Pixelated MS Sans Serif';
  text-align: start;
  font-weight: 600;
  line-height: 1.2;
  font-size: 30px;
}

#documentation h3 {
  font-family: 'Pixelated MS Sans Serif';
  text-align: start;
  font-weight: 300;
  line-height: 1.2;
  font-size: 16px;
}

#documentation .col-lg-10 {
  padding: 0 !important
}

#documentation,
#disclaimer,
#creators {
  margin: 20px !important;
  padding: 5px !important;
}

@media (max-width: 440px) {
  #documentation,
  #disclaimer,
  #creators {
    margin-top: 20px !important;
  }
}